@tailwind base;
@tailwind components;
@tailwind utilities;

typeface



/* styles/globals.css */
body {
  overflow-x: hidden;
}
.container {
    display: flex;
  }
  
  .sidebar {
    width: 30vw;
    height: 100vh;
    background-color: #333;
    color: white;
    transform: translateX(100vw);
    transition: transform 0.8s ease-in-out;


    padding-top: 30px;
    padding-left: 10px;
    padding-right: 2%;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    background-color: #333;
    color: white;
  }
  
  .sidebar.open {
    transform: translateX(0); /* Show the sidebar when 'open' class is applied */
    transition: transform ease 1s;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }
  


  /* styles/globals.css */
.container {
    display: flex;
  }
  
 
  sidebar.close {
    transform: translateX(-100%); /* Slide the sidebar out of view */
    transition: transform 0.3s ease-in-out;
  }
  .sidebar.open {
    transform: translateX(0); /* Slide the sidebar in from the right */
   
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .toggle-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }


  li {
    padding-bottom: 10px;
}
li a:hover {
    color: yellow;
}

.sidebar.open {

  position: absolute;
  bottom: auto;
  top: 0;
}




.menu {
  width: 90%;
  padding-top: 70px;
  padding-left: 10px;
}
.dropbutton {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.clsbutton {
  padding: 0 10px;
}


button.toggle-button.clsbutton {
    background: white;
    border-radius: 100%;
    padding: 10px 10px;
  
}


li a {
  font-family: oswald;
  font-size: 20px;
  line-height: 35px;
}

.sidebar {
  background-image: url(/images/minimalistic.jpg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

button.toggle-button.clsbutton svg {
fill: black;
}
/*menu setting up on right side*/
.menubuttonwrapper {
  text-align: right;
}

.headersection .menu {
  padding: 0 !important;
}


ul.flex {
  display: flex;
  justify-content: center;
}
ul.flex li {
  margin: 0 10px;
    padding-bottom: 0;
   
}

section.flex.headersection {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
    padding: 10px 20px;
}
.hdfirstclm {
  width: 15%;
}
.hdsecondclm {
  width: 70%;
  display: flex;
  align-items: center;
}
.hdthirdclm {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
menu {
  width: 100%;
}
button.contact_us_button {
  padding: 12px 25px;
  background: black;
  color: white;
}

button.contact_us_button:hover {
  background: tomato;
  color: white;
}
.hdthirdclm .menubuttonwrapper {
  display: none !important;
}

menu a:hover {
color: tomato;
}
.sidebar {
  display: none;
}

/*/////////////////////////////////////////////////////////////////////////////////   Laptop     ////////////////////////////*/
@media only screen and (max-width:1440px) {

}
/*/////////////////////////////////////////////////////////////////////////////////   Tablet Landscape    ////////////////////////////*/
@media only screen and (max-width:1280px) {

}
/*/////////////////////////////////////////////////////////////////////////////////   Tablet     ////////////////////////////*/
@media only screen and (max-width:1024px) {

}
/*/////////////////////////////////////////////////////////////////////////////////   Mobile Landscape     ////////////////////////////*/
@media only screen and (max-width:880px) {

}
/*/////////////////////////////////////////////////////////////////////////////////   Mobile     ////////////////////////////*/
@media only screen and (max-width:767px) {
  .hdthirdclm .menubuttonwrapper {
    display: block !important;
  }

  .sidebar.open {
    display: flex;
  }
  .sidebar {
    display: flex;
  }
  .menu, button.contact_us_button  {
    display: none;
}
.sidebar {
  width: 100%;
}
.menuq {
  width: 80%;
}
.dropbutton {
  width: 20%;
}
section.flex.headersection {

    padding: 10px 10px;
}
}
/* menu setting up on right side end */